
{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card" style="width: 18;">
  <img class="card-img-top" src="{{i.img.url}}" alt="" width="50" height="250">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
<!--    <p class="card-text">{{i.desc}}</p>-->
    <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">Go to detail</a>
  </div>
</div>
        </div>
        {% endfor %}
    </div><br>
</div><br><br>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="card">
                <a class="btn btn-success" href="{% url 'movieapp:add_movie' %}"> Add Movies</a>
            </div>
        </div>
    </div>
</div><br><br>


{% endblock %}